/*
    will get a better name later on, when i know that to call this space ;)
*/
@use '../utilities' as u;

//img-section
#hero-section{
    @include u.section(100vw, 46rem, column, center, center);
    min-height: 60rem;
}

//text-section - text postion center
#story-article-container{
    @include u.section(100vw, 50vh, column, center, center);
    background-color: u.$secondary-background-color;
    
    div{
    @include u.flex(column, center, center);
    width: 50%;
    text-align: center;

        h2{
            font-size: u.$big-font;
            font-weight: 400;
            color: u.$secondary-text-color;
            
            margin-bottom: 2rem;

            @media screen and (min-width:u.$tablet-size) {
                margin-bottom: 5rem;
                
            }
        }
        
    }
}

//empty section
#whiteSpace-container{
    display: none;
    width: 100vw;
    height: 15vh;

    @media screen and (max-width:u.$tablet-size) {
        display: none;   
    }
}

#title-section{
    @include u.section(100vw, 20vh, row, center, center);

    h2{
        font-size: u.$medium-header-font;
        font-weight: 400;
    }
}

