
$primary-background-color: white;
$secondary-background-color: #021928;

$primary-text-color: #021928;
$secondary-text-color: white;


$card-icon-color: #8ACFE5;

$primary-btn-color: #E3170A;
$secondary-btn-color: #8ACFE5;

$primary-btn-text-color: white;
$secondary-btn-text-color: #021928;

$rating-color: white;      
$checked-rating-color: $primary-btn-color;