
/*generall text*/
$large-header-font: 4rem;
$medium-header-font: 3.6rem;
$small-header-font: 3.2rem;

$big-font: 2.8rem;
$medium-font: 2.4rem;
$normal-font: 1.8rem;
$small-font: 1.4rem;

/*btns*/
$primary-btn-font: $medium-font;
$secondary-btn-font: $medium-font;
